heat_template_version: 2013-05-23

description: |   
  Heat Orchestration Template that spins up a
  resource group with 2 Rackspace Cloud Servers.

resources:
  web_nodes:
    type: OS::Heat::ResourceGroup
    properties:
      count: 2
      resource_def:
        type: Rackspace::Cloud::Server
        properties:
          flavor: 1GB Standard Instance
          image: CentOS 6.4
          name: LB-Compute Web Nodes



